# Environment variables for the backend-game repository

# PostgreSQL Database Credentials
POSTGRES_USER=pmota173
POSTGRES_PASSWORD=predro00
POSTGRES_DB=game-db

# Prisma / Backend Database URL
DATABASE_URL="postgresql://pmota173:predro00@db:5432/game-db"

# Redis URL
REDIS_URL=redis://redis:6379

# pgAdmin Credentials
PGADMIN_MAIL=pvmota012@gmail.com
PGADMIN_PASSWORD=predro00

# Port for the NestJS application to listen on (example)
PORT=3000

# Node.js environment (development, production, etc.)
NODE_ENV=development



